* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
}

video {
  max-width: 80%;
  aspect-ratio: 106/94;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  border-color: bisque;
}

.game {
  flex: 60%;
  width: 100%;
  height: 100vh;
}

.story {
  padding: 1vh;
  text-align: center;
  flex: 25%;
  background-color: rgb(27, 27, 27);
  color: burlywood;
  max-height: 100vh;
}

p {
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  border-style: ridge;
  border-width: 2px;
  border-color: burlywood;
  max-height: 60vh;
  text-align: left;
  padding: 1.5vh;
  overflow: scroll;
  font-size: 1.75vmin;
  color: bisque;
  scrollbar-color: bisque burlywood;
  scrollbar-width: thin;
}

.interface {
  flex: 15%;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: space-evenly;
  padding: 1.5vh;
  color: burlywood;
  max-height: 99vh;
  overflow: scroll;
}

h3 {
  text-align: center;
  font-size: 3vmin;
}

.selections {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.webgl {
  outline: none;
  width: 100%;
  height: 100%;
}

.select {
  flex: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  flex: 100%;
  padding: 0.1vmin;
  margin: 0.5vmin;
  color: burlywood;
  background-color: rgb(53, 47, 41);
  border-color: bisque;
  font-size: 1.8vmin;
}
